---
import hero from "../assets/images/hero.png";
---

<div
  class="h-screen bg-cover bg-center bg-no-repeat flex items-center justify-center relative"
  style={`background-image: url(${hero.src})`}
>
  <div class="text-white flex flex-col text-center">
    <h2 class="text-6xl font-bold">
      Tembeza: Revolutionize your<br />Technology, exceed your goals
    </h2>

    <span class="my-4"
      >Innovation,Development and Support for an Efficent Future</span
    >

    <button class="bg-[#C4062A] p-4 rounded-full">Discover Now</button>
  </div>
</div>
