---
import hero from "../assets/images/hero.png";
---

<div
  class="h-screen bg-cover bg-center bg-no-repeat flex items-center justify-center relative"
  style={`background-image: url(${hero.src})`}
>
  <div class="text-white flex flex-col text-center">
    <h2 class="text-6xl font-bold">
      Tembeza: Revolutionize your<br />Technology, exceed your goals
    </h2>

    <span class="my-4"
      >Innovation,Development and Support for an Efficent Future</span
    >

    <button class="bg-[#C4062A] p-4 rounded-full">Discover Now</button>
  </div>

  <div class="flex flex-row justify-between absolute bottom-0 left-0 right-0 transform translate-y-1/2 px-8 gap-4 my-8">
    <div class="bg-amber-300 w-full h-16 flex items-center justify-center rounded-lg shadow-lg">
      a
    </div>

    <div class="bg-red-300 w-full h-16 flex items-center justify-center rounded-lg shadow-lg">
      b
    </div>

    <div class="bg-blue-300 w-full h-16 flex items-center justify-center rounded-lg shadow-lg">
      c
    </div>

    <div class="bg-green-300 w-full h-16 flex items-center justify-center rounded-lg shadow-lg">
      d
    </div>
  </div>
</div>