---
import motherboard from "../assets/images/motherboard.png";
---

<div class="flex flex-col mt-48">
  <div
    class="h-96 text-white bg-cover bg-center bg-no-repeat flex items-center justify-center relative"
    style={`background-image: url(${motherboard.src})`}
  >
    <div class="absolute inset-0 bg-[#0C1424]/80 z-0"></div>
    <div class="flex flex-row justify-evenly mx-48 relative z-10">
      <div class="w-1/2">
        <h2 class="text-6xl">
          What can we<br />offer <span class="text-[#C4062A]">you?</span>
        </h2>
      </div>

      <div class="w-1/2">
        <p>
          At Tembeza, we offer you expert advice, bespoke technical development
          and ongoing maintenance to optimize your technology, improve
          efficiency and ensure uninterrupted performance.
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-around">
    <div>
      <div>logo</div>

      <div>
        <h3>Technological Consulting</h3>
      </div>

      <div>
        <p>
          We optimize systems, data and cybersecurity management, helping
          companies adapt effective and secure digital solutions.
        </p>
      </div>

      <div>
        <ul>
          <li>Sytem optimization</li>
          <li>Data management</li>
          <li>Cybersecurity</li>
        </ul>
      </div>
    </div>

    <div>
      <div>logo</div>

      <div>
        <h3>Technical and Digital Development</h3>
      </div>

      <div>
        <p>
          Powers businesses by creating customized solutions that improve
          processes, integrate technologies, and optimize operational
          efficiency.
        </p>
      </div>

      <div>
        <ul>
          <li>Custom software development</li>
          <li>Systems integration</li>
          <li>Process automation</li>
        </ul>
      </div>
    </div>

    <div>
      <div>logo</div>

      <div>
        <h3>Technical Maintenance</h3>
      </div>

      <div>
        <p>
          Ensure the continuous operation of system by updating, repairing and
          optimizing equipment and software.
        </p>
      </div>

      <div>
        <ul>
          <li>Preventive maintenance</li>
          <li>24/7 Technical Support</li>
          <li>Software updates</li>
        </ul>
      </div>
    </div>
  </div>
</div>
