---
import person from "../assets/images/person.png";
---

<div class="flex flex-col">
  <div class="flex flex-row justify-around items-center">
    <div>
      <img src={person.src} />
    </div>

    <div>
      <h2>Why choose us?</h2>

      <ul>
        <li>Technological Consulting</li>
        <li>Technical Development</li>
        <li>Technical Maintenance</li>
      </ul>

      <p>
        We offer expert advice to optimize your systems, tailored technical and
        digital development, and reliable maintenance to ensure operational
        continuity. Trust us to drive innovation and keep your technologies in
        perfect condition.
      </p>

      <button>Read More</button>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center">
    <h4>Passion · Dedication · Professionalism</h4>

    <h2>Tembeza: Innovation, Development and Support tailored to you.</h2>

    <div>
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center">
    <h4>Tembeza’s achievements and successes</h4>

    <h2>We promote your technology, we achieve results.</h2>

    <p>
      We stand out for our high customer satisfaction, significant reduction in
      downtime and improvement in operational efficiency. Trust us to transform
      and optimize your technology with effective results.
    </p>

    <div class="flex flex-row justify-around items-center">
      <div>
        <h3>+5</h3>
        <span>Years of Experience</span>
      </div>

      <div>
        <h3>76%</h3>
        <span>Downtime</span>
      </div>

      <div>
        <h3>3000</h3>
        <span>Projects carried out</span>
      </div>
    </div>
  </div>
</div>
